button {
  max-width: 100%;
  padding: 5px;
  border: 0;
  border-radius: $default-border-radius;
  outline: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: $font-family-sans-serif;
  cursor: pointer;

  &.btn-default {
    background: none;
    color: $primary-gray-color;
  }

  &.btn-flat {
    background: none;
    color: $primary-gray-color;

    &:active {
      background: $primary-gray-alt-color;
    }
  }

  &.btn-primary {
    background: $primary-color;
    color: white;
  }

  &.btn-raised {
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .20);

    &:active {
      box-shadow: 0 10px 20px rgba(0, 0, 0, .20), 0 6px 6px rgba(0, 0, 0, .25);
    }

    &:disabled {
      box-shadow: none;
    }
  }
}
