button {
  max-width: 100%;
  padding: 10px;
  border: 0;
  border-radius: $default-border-radius;
  outline: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: $font-weight-buttons;
  font-family: $font-family-sans-serif;
  transition: all 0.15s ease-out;
  cursor: pointer;

  &.btn-default {
    background: none;
    color: $primary-gray-color;
  }

  &.btn-secondary {
    background: none;
    color: $primary-gray-color;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px $primary-color;

    &:disabled {
      color: $primary-gray-lightest-color;
    }

    &:hover {
      background: $primary-gray-lightest-color;
    }

    &:active {
      background: $primary-gray-lighter-color;
    }
  }

  &.btn-flat {
    background: $primary-gray-lighter-color;
    color: black;

    &:disabled {
      color: $primary-gray-lightest-color;
    }

    &:hover {
      background: $primary-gray-light-color;
    }

    &:active {
      background: $primary-gray-lightest-color;
    }
  }

  &.btn-primary {
    background: $primary-color;
    color: white;
  }

  &.btn-raised {
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .20);

    &:active {
      box-shadow: 0 10px 20px rgba(0, 0, 0, .20), 0 6px 6px rgba(0, 0, 0, .25);
    }

    &:disabled {
      box-shadow: none;
    }
  }
}
