.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  z-index: index($zindexes, navigation);
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.20);

  >ul:not(:last-child) {
    margin: 10px 0;
  }

  &__link {
    display: block;
    padding: 10px;
    color: $primary-gray-color;

    &:hover {
      background: $primary-gray-lightest-color;
    }
  }
}
