#navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: index($zindexes, navigation);
  width: 100%;
  height: $navbar-height;
  padding: 0 10px;
  background: $primary-color;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  font-weight: 600;

  >div {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin-right: 5px;
  }

  .logo {
    display: inline-block;
    height: 100%;
    padding: 10px;
    line-height: 30px;
    font-size: 1.3rem;
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
  }

  ul.nav-list {
    display: inline-block;
    height: 100%;
    font-size: 0;

    li {
      display: inline-block;
      height: 100%;

      a {
        display: block;
        height: 100%;
        padding: 15px;
        line-height: 20px;
        font-size: 1rem;

        &:hover {
          background: $primary-alt-color;
        }
      }
    }
  }
}
