#sidebar {
  position: fixed;
  top: $navbar-height + $top-bar-height;
  right: 0;
  bottom: $status-bar-height;
  width: $sidebar-width;
  border-left: 1px solid $primary-gray-color;
  background: white;
  font-size: 1rem;

  .tabs-container {
    height: 100%;

    .tab-list {
      height: 50px;
      font-size: 0;
      border-bottom: 1px solid black;

      .tab {
        padding: 10px 20px;
        border-right: 1px solid black;
        font-size: 1rem;

        // &:not(:first-child) {
        //   margin-left: -1px;
        // }

        &.active {
          border-bottom: 1px solid white;
        }
      }
    }

    .tab-content {
      overflow-y: auto;
    }
  }

  output {
    display: block;
    height: 34px;

    // &:empty {
    //   display: none;
    // }
  }

  button {
    margin-top: 5px;
  }


  form {
    display: block;
    width: 100%;
    padding: 0 20px;
    font-size: 1rem;

    fieldset {
      width: 100%;
    }
  }

  .graph-link {
    font-size: 1rem;
    cursor: pointer;
  }

}
