#status-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: index($zindexes, status-bar);
  height: $status-bar-height;
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 -2px 8px rgba(0, 0, 0, 0.28);
  font-size: 1rem;

  .status-bar__itemlist {
    display: block;
    height: 100%;

    &__item {
      display: inline-block;
      vertical-align: top;
      height: 100%;
      float: right;
      border-left: 1px solid $primary-gray-lighter-color;
      line-height: 30px;

      form {
        display: inline-block;
        height: 100%;
        padding: 5px;

        fieldset {
          display: inline-block;
          height: 100%;
          margin: 0;
          padding: 0;

          // flexbox doesn't work with fieldset at the moment
          // http://stackoverflow.com/a/28078942/1418962
          .flex {
            display: inline-flex;
            align-items: baseline;
            flex-flow: row-reverse nowrap;

            >label,
            >input {
              margin-left: 20px;
            }
          }

          label {
            position: static;
            vertical-align: middle;
            height: 2em;
            font-size: 1em;
            line-height: normal;
          }

          input[type=text] {
            &:valid ~ label,
            &.empty ~ label {
              font-size: 1em;
            }
          }
        }

        #reset-transform {
          display: inline-block;
          vertical-align: middle;
          height: 100%;
          margin: auto 10px;
          padding: 5px 10px;
        }
      }

      #mouse-pos {
        padding: 0;

        fieldset {
          width: 128px;
          padding: 10px;

          label,
          output {
            display: inline;
            height: 100%;
            margin: 0 5px;
          }
        }
      }

      #zoom-input {
        width: 80px;
      }

      #serialization {
        padding: 0 20px 0 10px;

        fieldset {
          margin: 0 10px;

          &:not(:first-child) {
            margin-left: 25px;
          }
        }

        button {
          display: inline-block;
          vertical-align: middle;
          height: 40px;
          margin: 5px 5px 5px 0;
          padding: 2px;

          >img {
            height: 100%;
            pointer-events: none;
          }
        }

        #graph-uploader {
          display: none;
        }
      }
    }
  }
}
