.tabs-container {
  position: relative;

  &.hidden-tabs {
    .tab-list {
      display: none;
    }

    .tab-content {
      top: 0;
    }
  }

  .tab-list {
    display: block;
    width: 100%;

    .tab {
      vertical-align: top;
      display: inline-block;
      height: 100%;
      padding: 20px;
      border-bottom: 2px solid transparent;
      line-height: 10px;
      font-size: 1em;
      color: $primary-gray-color;
      transition: all 0.15s ease-out;
      cursor: pointer;

      &.hidden {
        display: none;
      }

      &.active {
        border-width: 2px;
        border-color: $primary-color;
        color: $primary-color;
      }
    }
  }

  .tab-content {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    display: none;
    width: 100%;

    &.active {
      display: block;
    }
  }
}
