#toolbar {
  position: fixed;
  top: $navbar-height + $top-bar-height;
  bottom: $status-bar-height;
  left: 0;
  width: $toolbar-width;
  overflow-y: auto;
  border-right: 1px solid black;
  background: white;
  z-index: index($zindexes, toolbar);
}

.tool-list {
  display: block;
  font-size: 0;

  >.tool-listitem {
    display: inline-block;

    >.tool {
      vertical-align: top;
      display: inline-block;
      width: 100px;
      height: 100px;
      margin: 10px 0 0 10px;
      background: #aaa;
      text-align: center;
      word-break: break-all;
      cursor: pointer;

      &:not(.selected):hover {
        background: #bbb;
      }

      &.selected {
        background: #616161;
      }

      >span {
        font-size: 1rem;
        color: white;
        pointer-events: none;
      }
    }
  }
}

.tool-input-list {
  display: block;
  font-size: 0;

  >.tool-input {
    display: inline-block;

    >.tinput {
      margin: 10px 0 10px 10px;
    }
  }
}
