#toolbar {
  position: fixed;
  top: $navbar-height + $top-bar-height;
  bottom: $status-bar-height;
  left: 0;
  width: $toolbar-width;
  overflow-y: auto;
  border-right: 1px solid $primary-gray-color;
  background: white;
  z-index: index($zindexes, toolbar);
}

.tool-list {
  display: block;
  font-size: 0;

  >.tool-listitem {
    display: block;
    padding: 10px;

    >.tool {
      display: block;
      width: 100%;
      padding: 10px;
      word-break: break-all;
    }
  }
}

.tool-input-list {
  display: block;
  font-size: 0;

  >.tool-input {
    display: inline-block;

    >.tinput {
      margin: 10px 0 10px 10px;
    }
  }
}
