@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// Typography
$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-serif: 'PT Serif', serif;
$font-family-mono: 'PT Mono', monospace;

// Default values
$default-border-radius: 3px;

$status-bar-height: 30px;
$sidebar-width: 380px;
$toolbar-width: 246px;
$top-bar-height: 120px;
